@font-face {
    font-family: bold;
    src: url('../assets/fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: normal;
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3E3F40;
}

.exitTrapNotif {
  animation: pop 0.5s ease;
  background-color: #ffffff;
  position: absolute;
  width: 20%;
  height: 30%;
  top: 30%;
  left: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.friendsContainer {
  padding: 2%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.friendsContainer h1 {
  font-family: bold;
  font-size: 15pt;
}

.friendsContainer input {
  width: 100%;
  border: 2px solid #099AED;
  border-radius: 5px;
  outline: none;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.newMessModal {
  border: 3px solid #099AED;
  border-radius: 5px;
  padding: 2%;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 80%;
  animation: pop 0.5s ease;
}

.newMessModal img {
  width: 30px;
  height: 30px;
  border: 3px solid #099AED;
  border-radius: 50%;
}

.headContainer {
  display: flex;
  gap: 2%;
  align-items: center;
  justify-content: center;
}

.headContainer h1 {
  margin: 0;
  font-size: 12pt;
  font-family: bold
}

.newMessModal textarea {
  width: 90%;
}

#sendIcons {
  background-color: #099AED;
  width: 50px;
  border-radius: 10px;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#sendIcons:hover {
  background-color: #3E3F40;
  transform: scale(110%)
}

#exitIcons:hover {
  transform: scale(110%)
}

#exitIcons {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}


.searchListContainer {
  margin-top: 5%;
}

.searchListContainer h2 {
  font-size: 12pt;
}

.searchList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 80%;
}

.cardFriend {
  cursor: pointer;
  background-color: #099AED;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  margin: 1%;
}

.cardFriend h2 {
  margin: 0;
  color: white;
  font-family: bold;
  font-size: 12pt;
}

.exitTrapNotif p {
  font-family: bold;
  color: #3E3F40;
}

.botPanel form {
  display: flex;
  width: 100%;
}

.content {
    width: 80%;
    height: 95%;
    display: flex;
    font-family: normal;
    color: #3E3F40;
}

.leftBar {
    background-color: #099AED;
    flex: 30%;
    padding: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftBar h2 {
    color: white;
    font-family: bold;
}

.chatList {
    height: 90%;
    width: 90%;
    padding: 1%;
    overflow-y: auto;
    margin-top: 5%;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 7%;
    position: relative;
    margin-top: 4%;
    margin-bottom: 4%;
    cursor: pointer;
}

.cardActive {
  background-color: white;
  border-radius: 10px;
  padding: 2%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 7%;
  position: relative;
  margin-top: 4%;
  margin-bottom: 4%;
  cursor: pointer;
  margin-left: 10px;
}

.circle {
    background-color: #3E3F40;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-left: 3%;
    user-select: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    user-select: none;
}

.vertical h2 {
    color: #3E3F40;
    font-family: bold;
    font-size: 10pt;
    margin: 0;
}

.vertical P {
    font-size: 8pt;
    margin: 0;
    color: #7d7e80;
}

#activeLight {
    position: absolute;
    right: 5%;
}

.rightBar {
    background-color: white;
    flex: 70%;
    padding: 2%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header {
  border-bottom: 1px solid #dadbdd;
  display: flex;
  gap: 2%;
  width: 100%;
  padding: 1%;
}

#headerPic {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.body {
  height: 92%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.messageScreenContainer  {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  justify-content: end;
}

.messageScreen {
  height: auto;
  width: 100%;
  overflow-y: auto;
  display: flex;
  padding: 2%;
  flex-direction: column;
  scroll-behavior: smooth;
}

#scrollDown {
  width: 20px;
  height: 20px;
  margin: 0;
  border-radius: 3px;
  border: 2px solid black;
  cursor: pointer;
}

.botPanel {
  flex: 5%;
  height: 50px;
  border-top: 1px solid #dadbdd;
  display: flex;
  align-items: center;
  padding: 2% 1% 0px 1%;
  gap: 2%;
  width: 100%;
}

.botPanel textarea { 
  width: 90%;
  height: 100%;
  border: none;
  border-radius: 10px;
  font-size: 8pt;
  margin: 0;
  padding-left: 10px;
  padding-top: 5px;
  outline: none;
  resize: none;
  border: 1px solid #099AED;
  color: #3E3F40;
  font-family: normal;
}

.botPanel textarea:focus {
  background-color: #e8e8ed;
  border: 1px solid transparent;
}

#plusSign {
  color: #099AED;
  width: 25px;
  height: 25px;
}

#sendSign {
  color: #099AED;
  width: 20px;
  height: 20px;
}

#sendSign:hover, #plusSign:hover {
  color: #9c9b9b;
  transform: scale(110%);
  cursor: pointer;
}

.ownChatDiv {
  position: relative;
  width: 100%;
  height: auto;
  padding: 2%;
  display: flex;
  justify-content: end;
}

.receiverChatDiv {
  position: relative;
  width: 100%;
  height: auto;
  padding: 2%;
  display: flex;
  justify-content: start;
}

.typingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.typingContainer p {
  font-family: normal;
  font-size: 8pt;
  font-style: italic;
}

.senderbubbles {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 2%;
  color: #3E3F40;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 10pt;
}

.bubbleChatContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bubbleChatContainer p {
  color: #7d7e80;
  margin: 0;
  font-size: 8pt;
}

.bubbles {
  background-color: #099AED;
  border-radius: 10px;
  padding: 2%;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 10pt;
}



@keyframes pop {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
