@font-face {
    font-family: sanBold;
    src: url('../assets/fonts/sanBold.ttf');
}
@font-face {
    font-family: sanSemi;
    src: url('../assets/fonts/sanSemi.ttf');
} 

:root {
    --blue: #099AED;
    --gray: #3E3F40;
    --light: #D9D9D9;
}


.container {
    width: 95%;
    height: 95%;
    font-family: sanSemi;
    position: relative;
}


.reminder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.reminder h2 {
    font-size: 15px;
    opacity: 0.7;
    user-select: none;
    animation: fadeIn 1s ease-in-out;
}

.header {
    display: flex;
    position: relative;
    align-items: center;
}


.exitTrapNotif {
    animation: pop 0.5s ease;
    background-color: #ffffff;
    position: absolute;
    width: 20%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 3;
  }

  .exitTrapNotif p {
    font-family: sanBold;
    color: #3E3F40;
  }

.header h1 {
    color: #3E3F40;
    font-family: sanBold;
    font-size: 40px;
    user-select: none;
}

.header button {
    position: absolute;
    right: 10px;
    background-color: #099AED;
    border: none;
    color: white;
    width: 224px;
    height: 39px;
    border-radius: 6px;
    font-size: 13px;
    font-family: sanSemi;
}

.header button:hover {
    background-color: #3E3F40;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}



.horizontal {
    display: flex;
    padding: 10px;
    width: auto;
    height: auto;
    gap: 5%;
}

.card {
    background-color: #D9D9D9;
    width: 385px;
    height: 315px;
    border-radius: 20px;
    padding: 2%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: pop 0.5s ease;
    box-shadow: 0 4px 8px rgba(171, 133, 133, 0.2);
    animation: fadeIn 0.5s ease;
}

#iconExit {
    color: #3E3F40;
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
}

#iconExit:hover {
    transform: scale(110%);
}

.card h2 {
    font-size: 20px;
    color: #3E3F40;
    font-family: sanSemi;
}

.card #joinText {
    font-size: 15px;
    color: #3E3F40;
    font-family: sanSemi;
}

.card button {
    width: 205px;
    height: 36px;
    border-radius: 18px;
    background-color: #3E3F40;
    color: white;
    border: none;
    font-family: sanSemi;
    font-size: 14px;
}

.card button:hover {
    background-color: transparent;
    border: 2px solid #3E3F40;
    color: #3E3F40;
}

.card input {
    outline: none;
    border: none;
    width: 284px;
    height: 32px;
    border-radius: 7px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
}

#importExcelFile {
    margin: 0;
    padding-left: 10%;
    margin-bottom: 5%;
}

#mainTitle {
    position: absolute;
    left: 0.5%;
    top: 10%;
    font-size: 17px;
    font-family: sanSemi;
    color: #3E3F40;
}




/*modal*/
.modalContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    background-color: white;
    position: relative;
    animation: pop 0.5s ease;
    width: 804px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 31px;
    -webkit-box-shadow: 4px 3px 18px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 4px 3px 18px 0px rgba(0,0,0,0.24);
    box-shadow: 4px 3px 18px 0px rgba(0,0,0,0.24);
    padding: 5%;
}

form .modalContent h1 {
    font-family: sanBold;
    font-size: 20px;
    color: #3E3F40;
    user-select: none;
}

form .modalContent p {
    font-family: sanSemi;
    font-size: 13px;
    color: #3E3F40;
    user-select: none;
    margin-bottom: 5%;
}

form .modalContent input {
    background-color: #EFECEC;
    border: none;
    outline: none;
    height: 48px;
    padding: 10px;
    font-size: 15px;
    color: #3E3F40;
    border-radius: 10px;
}

#desInput {
    background-color: #EFECEC;
    border: none;
    outline: none;
    height: 86px;
    text-align: start;
    padding: 2%;
    resize: none;
    font-size: 15px;
    color: #3E3F40;
    border-radius: 10px;
}

.horizontalDiv {
    display: flex;
}

.leftCon {
    display: flex;
    flex-direction: column;
}

#classProfile {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.rightCon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#uploadPic {
    background-color: transparent;
    padding-left: 40%;
}

.horMenu {
    margin-top: 10px;
    display: flex;
    gap: 2%;
    justify-content: end;
}

.horMenu button {
    width: 80px;
    height: 32px;
    border-radius: 6px;
    color: white;
    background-color: #099AED;
    border: none;
    font-size: 12px;
}

.horMenu button:hover, #btnCancel:hover {
    background-color: #3E3F40;
    color: white;
    border: none;
}

#btnCancel {
    background-color: white;
    border: 2px solid #099AED;
    color: #099AED;
}

.listContainer {
    font-family: sanSemi;
    color: #3E3F40;
    height: 90%;
    padding: 2%;
}

#classListLabel {
    font-size: 15px;
    user-select: none;
}

.classVisible, .classHidden {
    height: auto;
}

.classHidden {
    margin-top: 2%;
}

.horizontalList {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.classCard {
    background-color: #D9D9D9;
    width: calc(15% - 10px);
    height: 150px;
    margin: calc(1% - 5px);
    border-radius: 14px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: pop 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.classCard:hover {
    transform: scale(105%);
}

.btnVisible {
    position: absolute;
    right: 5%;
    top: 5%;
    color: #9b9999;
    z-index: 1;
    cursor: pointer;
}

.btnVisible:hover {
    color: white;
    transform: scale(110%);
}

#imageContainer {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.classCard h1 {
    font-size: 15px;
    font-family: sanBold;
    margin-top: 5%;
    margin-bottom: 0;
    user-select: none;
}

.classCard p {
    font-size: 10px;
    margin: 0;
    user-select: none;
}

.mainPoint {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mainPoint h1 {
    text-align: center;
    font-size: 10pt;
}

.mainPoint p {
    text-align: center;
    font-size: 8pt;
}



@keyframes pop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }


  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
