@font-face {
    font-family: bold;
    src: url('../assets/fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: normal;
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}

.container {
    width: 100%;
    height: 100%;
    font-size: 10pt;
    color: #3E3F40;
    font-family: normal;
    position: relative;
}

#btnExit {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.addMembers {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.addMembers:hover {
  transform: scale(110%);
}

#btnExit:hover {
    transform: scale(110%);
}

.container h2 {
    margin: 0;
    font-size: 20pt;
    font-family: bold;
}

.horizontal {
  display: flex;
  height: 85%;
}

.leftCon {
  flex: 50%;
  padding: 2%;
}

.exitTrapNotif {
  animation: pop 0.5s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  border-radius: 20px;
  z-index: 3;
}

.exitTrapNotif p {
  font-family: bold;
  font-size: 10pt;
  color: #3E3F40;
}


.cardMember {
  background-color: #3E3F40;
  width: 100%;
  height: auto;
  padding: 2%;
  display: flex;
  align-items: center;
  gap: 2%;
  margin-bottom: 15px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card p, .cardMember p {
  margin: 0;
  color: white;
  font-family: bold;
  font-size: 10pt;
}

.cardAccounts {
  border: 1px solid #3E3F40;
  width: 100%;
  padding: 1%;
  display: flex;
  align-items: center;
  gap: 2%;
  margin-bottom: 10px;
  border-radius: 10px;
  position: relative;
  padding: 2%;
}

.cardAccounts p {
  margin: 0;
  font-size: 12pt;
  font-family: bold;
}

.rightCon {
  flex: 50%;
  border: 2px solid #3E3F40;
  border-radius: 10px;
  padding: 2%;
  animation: pop 0.5s ease;
}

.accountList {
  width: 100%;
  height: 600px;
  overflow-y: auto;
  margin-top: 5px;
}

.head {
    display: flex;
    flex-direction: column;
}

.head h2 {
    font-size: 13pt;
    font-family: normal;
    margin: 0;
}

#subtitle {
  font-size: 8pt;
  font-family: normal;
  margin: 0;
}

#memberLabel {
  font-size: 15pt;
  font-family: bold;
  margin: 0;
}

#labelAdmin {
    margin-top: 2%;
    font-size: 10pt;
    margin-bottom: 5px;
}

.listView {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 5px;
}

.card {
    background-color: #099AED;
    width: 30%;
    padding: 1%;
    display: flex;
    align-items: center;
    gap: 5%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#deleteIcon {
    color: aliceblue;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10%;
    cursor: pointer;
}

#addFriendIcon {
  color: #3E3F40;
  position: absolute;
  right: 10%;
  cursor: pointer;
}

#selectAll {
  color: #3E3F40;
  position: absolute;
  right: 10%;
  top: 20%;
  cursor: pointer;
}

#deleteIcon:hover, #addFriendIcon {
    transform: scale(110%);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

#dpImg {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


@keyframes pop {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }