@font-face {
    font-family: bold;
    src: url('../assets/fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: normal;
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}

.container {
    height: 100%;
    padding: 2%;
}


.header {
    display: flex;
    justify-content: space-between;
}

.header h2 {
    margin: 0;
    font-size: 20pt;
    font-family: bold;
}

.filerSection {
    display: flex;
    margin-top: 2%;
    padding-right: 2%;
    padding-left: 2%;
    background-color: rgb(220, 217, 217);
    justify-content: space-between;
}

.filerSection p {
    margin: 0;
}

.filterDiv {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.filterDiv p {
    margin: 0;
    font-size: 15pt;
}

.select {
    width: 150px;
    border-radius: 5px;
    font-family: bold;
    font-size: 10pt;
}

.listContainer {
    margin-top: 20px; 
    height: auto;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto; /* Enable vertical scroll */
    max-height: 90%; /* Set a fixed height */
}

.card {
    width: calc(33.33% - 20px); 
    height: 50px;
    margin: 10px;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #3E3F40;
    box-sizing: border-box;
    gap: 2%;
    color: white;
    position: relative;
}

.card p {
  color: white;
  font-family: bold;
  margin: 0;
  font-size: 10pt;
}

.optionCard {
  background-color: white;
  position: absolute;
  right: -60px;
  z-index: 3;
  padding: 2%;
  display: flex;
  color: #3E3F40;
  gap: 5px;
  border-radius: 5px;
  border: 1px solid black;
  animation: pop 0.5s ease;
}

.boxIcon {
  border: 1px solid #3E3F40;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.noFilesDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20pt;
  font-family: bold;  
}



@keyframes pop {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
