@font-face {
    font-family: sanBold;
    src: url('../assets/fonts/sanBold.ttf');
}
@font-face {
    font-family: sanSemi;
    src: url('../assets/fonts/sanSemi.ttf');
}

* {
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: #0c9cec;
    height: 50px;
    width: 100%;
    display: flex;
}

.left, .right {
    width: 50%;
    height: 100%;
}

.left {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}

#dropDown {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    padding: 10px;
    margin-top: 230px;
    right: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slideDown 0.5s ease;
}

.menuTop {
  position: absolute;
  width: 20%;
  right: 5%;
  display: flex;
  justify-content: end;
  align-items: center;
}


#profile {
    margin-left: 10%;
    width: 35px;
    height: 35px;
    color: white;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

#notif {
  color: white;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#notif:hover {
  transform: scale(110%);
}

#icon {
    width: 30px;
    height: 30px;
    color: white;
}

.horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profileIcon {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    background-color: #3E3F40;
    border: 1px solid black;
    overflow: hidden;
    border: 1px solid #3E3F40;
}

#profilePic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}

.vertical {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 60%;
    align-items: start;
    padding-left: 10px;
}

.vertical h1 {
    font-size: 1em;
    font-family: sanBold;
    margin: 0;
    user-select: none;
}

.vertical h2 {
    font-size: 0.7em;
    font-family: sanBold;
    user-select: none;
}

.vertical p {
    color: #3E3F40;
    font-family: sanSemi;
    font-size: 0.5em;
    margin: 0;
    user-select: none;
}

.btnLogout {
    background-color: #0c9cec;
    color: white;
    font-family: sanBold;
    border: none;
    padding: 2%;
    width: 40%;
    height: 100%;
    font-size: 8pt;
    border-radius: 10px;
    user-select: none;
}

.btnLogout:hover {
    background-color: #3E3F40;
}

.btnManageAcct {
  color: #0c9cec;
  font-family: sanBold;
  border: 1px solid #0c9cec;
  padding: 2%;
  width: 40%;
  height: 100%;
  font-size: 7pt;
  border-radius: 10px;
  user-select: none;
  background-color: transparent;
}

.btnManageAcct:hover {
  background-color: #0c9cec;
  color: white;
  border: none;
}

.titleLogo {
    animation: seesaw 5s infinite;
    transform-origin: center bottom;
}


@keyframes seesaw {
    0%, 100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-2deg);
    }
    50% {
      transform: rotate(2deg);
    }
    75% {
      transform: rotate(-2deg);
    }
  }

@keyframes pop {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-20%);
    }
    100% {
      transform: translateY(0);
    }
  }

