@font-face {
    font-family: bold;
    src: url('../assets/fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: normal;
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: bold;
    justify-content: space-between;
    gap: 2%;
}

.modal {
  background-color: white;
  border: 2px solid #099AED;
  border-radius: 10px;
  padding: 2%;
  width: 90%;
  height: 55%;
  position: absolute;
  animation: pop 0.5s ease;
  z-index: 3;
  display: flex;
}

.questionModal {
  display: flex;
  width: 100%;
  gap: 5%;
  flex-direction: column;
}

.questionModal textarea {
  width: 100%;
  height: 80%;
  border-radius: 5px;
}

.questionModal button {
  width: 100%;
  border: none;
  background-color: #3E3F40;
  color: white;
  border-radius: 5px;
  height: 50px;
}

.leftPart {
  border: 1px solid #099AED;
  border-radius: 5px;
  flex: 30%;
  padding: 2%;
  overflow-y: auto;
}

.smallCard {
  border-radius: 5px;
  padding: 2%;
  font-family: normal;
  user-select: none;
  cursor: pointer;
  font-size: 10pt;
  gap: 2px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.smallCard b {
  color: #3E3F40;
}

.rightPart {
  flex: 70%;
  padding: 2%;
}

.headRightPart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#addMoreChoices {
  border: none;
  background-color: #099AED;
  font-size: 8pt;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  width: 100px;
}

.headRightPart h2, .headRightPart p {
  font-size: 10pt;
  margin: 0;
  font-family: bold;
}

#textarea {
  padding: 2%;
  font-size: 10pt;
  width: 100%;
  max-height: 70%;
  margin-top: 2%;
}

#textarea::placeholder {
  font-size: 10pt;
  font-family: normal;
}

#btnSave {
  border: none;
  background-color: #099AED;
  color: white;
  border-radius: 5px;
  font-size: 10pt;
  width: 100%;
  height: 40px;
}

#btnSave:disabled {
  background-color: rgba(161, 163, 165, 0.337);
}

#btnSave:hover, #addMoreChoices:hover {
  opacity: 0.5;
}

.left {
    flex: 70%;
}

.left h1 {
    font-size: 10pt;
    color: #099AED;
    margin: 0;
}

.left input {
    border: 2px solid #099AED;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    font-size: 10pt;
    outline: none;
    padding-left: 2%;
    color: #099AED;
}


.right {
    flex: 20%;
}

.dragImage {
    border: 4px dashed #099AED;
    height: 100%;
    width: 100%;
    color: #099AED;
    display: flex;
    font-size: 8pt;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

#img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    width: calc(33.33% - 20px); 
    height: 30px;
    padding: 2%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 2px;
    border-radius: 5px;
    background-color: rgba(9, 153, 237, 0.52);
}

.card b {
    font-size: 10pt;
    margin: 0;
    font-family: bold;
    color: #3E3F40;
}

.listChoices {
    height: auto;
    max-height: 135px;
    flex-wrap: wrap;
    overflow-y: auto;
    display: flex;
    margin-bottom: 2%;
}

.bottomMenu {
    display: flex;
    gap: 2%;
    align-items: center;
    justify-content: center;
}

.bottomMenu button {
    border: none;
    background-color: #099AED;
    color: white;
    font-size: 10pt;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.bottomMenu button:hover {
    opacity: 0.5;
}

#inputPoints {
  width: 50px;
  border-radius: 5px;
  text-align: center;
}


.bottomMenuQues {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottomMenuQues button {
  background-color: #3E3F40;
  color: white;
  margin-top: 2%;
  height: 40px;
  border-radius: 5px
}

.bottomMenuQues button:hover, .bottomMenuQues button:disabled {
  opacity: 0.5;
}

@keyframes pop {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }