.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    color: #3E3F40;
}

.container h1 {
    font-family: bold;
    font-size: 2rem;
    margin: 0;
}
.container p {
    margin: 0;
    font-size: 1rem;
    font-family: normal;
}

.horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    height: auto;
    gap: 20px;
}

.card {
    background-color: #D9D9D9;
    width: 250px;
    max-width: 250px;
    height: 250px;
    max-height: 385px;
    border-radius: 20px;
    padding: 10px 10px 20px 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    animation: pop 0.5s ease;
    box-shadow: 0 4px 8px rgba(171, 133, 133, 0.2);
    animation: fadeIn 0.5s ease;
}

.card h2 {
    font-size: 1rem;
}

.card label {
    font-size: .8rem;
    color: #3E3F40;
    font-family: normal;
    margin: 0;
    padding: 0;
}

.card button {
    width: 100%;
    height: 40px;
    border-radius: 18px;
    background-color: #3E3F40;
    color: white;
    border: none;
    font-family: normal;
    font-size: 14px;
}

.card button:hover {
    background-color: transparent;
    border: 2px solid #3E3F40;
    color: #3E3F40;
}

.card input {
    outline: none;
    border: none;
    width: 100%;
    max-width: none;
    height: 40px;
    border-radius: 7px;
    text-align: center;
    font-size: 15px;
}

#iconExit {
    color: #3E3F40;
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
}

#iconExit:hover {
    transform: scale(110%);
}

#importExcelFile {
    margin: 0;
    padding-left: 10%;
    margin-bottom: 5%;
}

#mainTitle {
    position: absolute;
    left: 0.5%;
    top: 10%;
    font-size: 17px;
    font-family: normal;
    color: #3E3F40;
}

@media (max-width: 425px) {
    .container {
        justify-content: flex-start;
        height: 90%;
        padding-bottom: 20px;
    }

    .container h1 {
        font-size: 1.2rem;
        text-align: center;
    }

    .container p {
        font-size: 0.8rem;
    }
}
