@font-face {
    font-family: normal;
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: bold;
    src: url('../assets/fonts/Montserrat-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #0c9cec;
    height: 50px;
    width: 100%;
    display: flex;
    color: #3E3F40;
    font-family: normal;
    align-items: center;
    justify-content: space-between;
}


#dropDown {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    padding: 10px;
    margin-top: 230px;
    right: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slideDown 0.5s ease;
}

#notifContainer {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  height: 350px;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  padding: 10px;
  margin-top: 450px;
  right: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: slideDown 0.5s ease;
}

#title {
  font-size: 15pt;
  font-family: bold;
  margin: 0;
}

.listNotif {
  overflow-y: auto;
  height: 90%;
  padding-top: 2%;
  border-top: 1px solid #dededf;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head p {
  font-size: 8pt;
  margin: 0;
  cursor: pointer;
}

.head p:hover {
  font-size: 8pt;
  margin: 0;
  cursor: pointer;
  color: #0c9cec;
}

.card {
  padding: 2%;
  display: flex;
  position: relative;
  gap: 2%;
  align-items: center;
  background-color: #ebebeb;
  border-radius: 5px;
  margin-bottom: 10px;
}

#circle {
  background-color: red;
  color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  right: -2px;
}

#delete {
  position: absolute;
  right: 10px;
  cursor: pointer;
  z-index: 1;
}

.card img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #0c9cec;
}

.contentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contentText p {
  font-size: 8pt;
  font-family: normal;
  margin: 0;
}

.contentText h2 {
  font-size: 10pt;
  font-family: bold;
  margin: 0;
}

.menuTop {
  width: 20%;
  right: 5%;
  display: flex;
  justify-content: end;
  align-items: center;
}


#profile {
    width: 35px;
    height: 35px;
    color: white;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    overflow: hidden;
}

#notif {
  color: white;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#notif:hover {
  transform: scale(110%);
}

#icon {
    width: 30px;
    height: 30px;
    color: white;
}

.horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profileIcon {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    background-color: #3E3F40;
    border: 1px solid black;
    overflow: hidden;
    border: 1px solid #3E3F40;
}

#profilePic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}

.vertical {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 60%;
    align-items: start;
    padding-left: 10px;
}

.vertical h1 {
    font-size: 10pt;
    font-family: bold;
    margin: 0;
    user-select: none;
}

.vertical h2 {
    font-size: 8pt;
    font-family: bold;
    user-select: none;
    margin: 0;
}

.vertical p {
    color: #3E3F40;
    font-family: normal;
    font-size: 5pt;
    margin: 0;
    user-select: none;
}

.btnLogout {
    background-color: #0c9cec;
    color: white;
    font-family: bold;
    border: none;
    padding: 2%;
    width: 40%;
    height: 100%;
    font-size: 8pt;
    border-radius: 5px;
    user-select: none;
}

.btnLogout:hover {
    background-color: #3E3F40;
}

.btnManageAcct {
  color: #0c9cec;
  font-family: bold;
  border: 1px solid #0c9cec;
  padding: 2%;
  width: 40%;
  height: 100%;
  font-size: 7pt;
  border-radius: 5px;
  user-select: none;
  background-color: transparent;
}

.btnManageAcct:hover {
  background-color: #0c9cec;
  color: white;
  border: none;
}

.titleLogo {
    animation: seesaw 5s infinite;
    transform-origin: center bottom;
}


@keyframes seesaw {
    0%, 100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-2deg);
    }
    50% {
      transform: rotate(2deg);
    }
    75% {
      transform: rotate(-2deg);
    }
  }

@keyframes pop {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-20%);
    }
    100% {
      transform: translateY(0);
    }
  }

