@font-face {
    font-family: bold;
    src: url('../assets/fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: normal;
    src: url('../assets/fonts/Montserrat-Regular.ttf');
} 

:root {
    --blue: #099AED;
    --gray: #3E3F40;
    --light: #D9D9D9;
}

.container {
    width: 95%;
    height: 95%;
    font-family: normal;
    position: relative;
}

.reminder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.reminder h2 {
    font-size: 15px;
    opacity: 0.7;
    user-select: none;
    animation: fadeIn 1s ease-in-out;
}

.header {
    display: flex;
    position: relative;
    align-items: center;
}

.exitTrapNotif {
    animation: pop 0.5s ease;
    background-color: #ffffff;
    position: absolute;
    width: 250px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .exitTrapNotif p {
    font-family: bold;
    color: #3E3F40;
  }

.header h1 {
    color: #3E3F40;
    font-family: bold;
    font-size: 40px;
    user-select: none;
}

.header button {
    position: absolute;
    right: 10px;
    background-color: #099AED;
    border: none;
    color: white;
    width: 224px;
    height: 39px;
    border-radius: 6px;
    font-size: 13px;
    font-family: bold;
}

.header button:hover {
    background-color: #3E3F40;
}




/*modal*/
.modalContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    background-color: white;
    position: relative;
    animation: pop 0.5s ease;
    width: 804px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 31px;
    -webkit-box-shadow: 4px 3px 18px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 4px 3px 18px 0px rgba(0,0,0,0.24);
    box-shadow: 4px 3px 18px 0px rgba(0,0,0,0.24);
    padding: 5%;
}

form .modalContent h1 {
    font-family: bold;
    font-size: 20px;
    color: #3E3F40;
    user-select: none;
}

form .modalContent p {
    font-family: normal;
    font-size: 13px;
    color: #3E3F40;
    user-select: none;
    margin-bottom: 5%;
}

form .modalContent input {
    background-color: #EFECEC;
    border: none;
    outline: none;
    height: 48px;
    padding: 10px;
    font-size: 15px;
    color: #3E3F40;
    border-radius: 10px;
}

#desInput {
    background-color: #EFECEC;
    border: none;
    outline: none;
    height: 86px;
    text-align: start;
    padding: 2%;
    resize: none;
    font-size: 15px;
    color: #3E3F40;
    border-radius: 10px;
}

.horizontalDiv {
    display: flex;
}

.leftCon {
    display: flex;
    flex: 50%;
    flex-direction: column;
}

#errorMessage {
    padding-top: 10px;
    color: red;
    animation: shake 0.5s ease-in-out;
}

#createDiscription {
    font-size: 10pt;
    text-align: justify;
}

#createClassTitle {
    font-size: 20pt;
}

#labelDescription {
    font-size: 10pt;
}

#classProfile {
    width: 80%;
    height: 100%;
    border-radius: 50%;
}

.dragPhoto {
    width: 80%;
    height: 100%;
    display: flex;
    text-align: center;
    color: #099AED;
    font-size: 10pt;
    align-items: center;
    justify-content: center;
    border: 5px dashed #099AED;
    border-radius: 50%;
}

.rightCon {
    display: flex;
    flex: 50%;
    flex-direction: column;
    align-items: center;
}

#uploadPic {
    background-color: transparent;
    padding-left: 40%;
}

.horMenu {
    margin-top: 10px;
    display: flex;
    gap: 2%;
    justify-content: end;
}

.horMenu button {
    width: 80px;
    height: 32px;
    border-radius: 6px;
    color: white;
    background-color: #099AED;
    border: none;
    font-size: 12px;
}

.horMenu button:disabled {
    background-color: #7f8285;
}

.horMenu button:hover, #btnCancel:hover {
    background-color: #3E3F40;
    color: white;
    border: none;
}

#btnCancel {
    background-color: white;
    border: 2px solid #099AED;
    color: #099AED;
}

.listContainer {
    font-family: normal;
    color: #3E3F40;
    height: 90%;
    padding: 2%;
}

#classListLabel {
    font-size: 15px;
    user-select: none;
}

.classVisible, .classHidden {
    height: auto;
}

.classHidden {
    margin-top: 2%;
}

.horizontalList {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.classCard {
    background-color: #D9D9D9;
    width: calc(15% - 10px);
    min-width: 200px;
    height: 150px;
    margin: calc(1.5% - 5px);
    border-radius: 14px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: pop 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.classCard:hover {
    transform: scale(105%);
}

.btnVisible {
    position: absolute;
    right: 5%;
    top: 5%;
    color: #9b9999;
    z-index: 5;
    cursor: pointer;

}

.btnVisible:hover {
    color: white;
    transform: scale(110%);
}

.classCard h1 {
    font-size: .7rem;
    font-family: bold;
    user-select: none;
    margin: 0;
}

.classCard p {
    font-size: .6rem;
    margin: 0;
    user-select: none;
}


@keyframes pop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }


  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
  
    20% {
      transform: translateX(10px);
    }

    50% {
        transform: translateX(0);
    }

    70% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }

  }
